<html>
<head>
<title>Edit Car Details</title>
</head>
<body>
    <h1>Edit <%=car.carType%> Details</h1><br>
    <form action="/update-car-record<%=car._id%>/edit?_method=PUT" method="POST">
        <label for="carType">Car</label>
        <input type="text" id="carType" name="car[carType]" value="<%=car.carType%>"><br><br>
        <label for="plateNo">Plate Number</label>
        <input type="plateNo" id="plateNo" name="car[plateNo]" value="<%=car.plateNo%>"><br><br>
        <input type="submit">
    </form><br><br>
    <div>
       <button><a href="/car">Exit</a></button>
    </div> 
</body>
</html>