<DOCTYPE html>
<html>
<head> 
      <title>User Login</title>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <style>
             body{
                 text-align:center;
             }
             label{
                 font-weight: bold;
                 display: block;
                 width: 120px;
                 float: left;
            }
            form{
                 background-color: lightpink;
                 width:500px;
                 text-align:center;
                 border:solid;
                 margin:auto;
                 padding:10px;
                 display:table;
            }
      </style>
</head>
<body>
     <form action="/login" method="POST">
        <p>Login</p>
        <label for="username">UserName</label>
        <input type="Text" placeholder="username" id="username" name="username"><br><br>
        <label for="password">Password</label>
        <input type="Password" id="password" name="password"><br><br>
        <button>Login</button>
    </form><br><br>
    <div>
        <p> Register? <a href="/">Sign Up</a></p>
    </div>
</body>
</html>