<!DOCTYPE html>
<head>
    <title>Ride's Details Form</title>
</head>
<body>

    <div>
        <h1>Add The Ride's Information Here!</h1>
        <p>Find below is the form to add a new ride into the system.</p>
        <form action="/add-ride" method="POST">

            <div>
                <label for="pickup_location">Pick-up Location:</label>
                <input type="text" id="pickup_location" name="pickup_location" required>
            </div>
            <br>
            <div>
                <label for="dropoff_location">Drop-off Location:</label>
                <input type="text" id="dropoff_location" name="dropoff_location" required> 
            </div>
            <br>
            <div>
                <button type="submit">Submit</button> 
            </div>
        </form>
    </div>

    <h1>Rides Records</h1>
    <table class="table">
            <thead>
                <tr>
                    <th>Pick-up Location</th>
                    <th>Drop-off Location</th>
                    <th>Delete</th>
                    <th>Edit</th>
                </tr>
            </thead>
            <tbody>
                <% locations.forEach(function(location) { %>
                <tr>
                    <td><%= location.pickup_location%></td>
                    <td><%= location.dropoff_location%></td>
                    <td><form action="/delete-ride-record<%=location._id%>/?_method=DELETE" method="POST">
                            <button type="submit">Delete</button>
                         </form>
                    </td>
                    <td><button><a href="/update-ride-record<%=location._id%>/edit">Edit</a> </button></td>
                </tr>
                <% }); %>
            </tbody>
        </table></center><br><br>
    <div>
        <button><a href="/"> Log Out </a></button>
    </div>
    
    
</body>
</html>