<DOCTYPE html>
<html>
<head> 
      <title>User Sign Up</title>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <style>
             body{
                 text-align:center;
             }
             label{
                 font-weight: bold;
                 display: block;
                 width: 120px;
                 float: left;
            }
            form{
                 background-color: lightblue;
                 width:500px;
                 text-align:center;
                 border:solid;
                 margin:auto;
                 padding:10px;
                 display:table;
            }
      </style>
</head>
<body>
     
     <form action="/sign-up" method="POST">
        <p> Sign Up </p>
		<label for="fullName">Full Name</label>
        <input type="Text" name="fullName" id="fullName" required><br><br>
        <label for="email">Email</label>
        <input type="Email" id="email" name="email" required><br><br>
        <label for="username">UserName</label>
        <input type="Text" id="username" name="username" required><br><br>
        <label for="password">Password</label>
        <input type="Password" id="password" name="password" required><br><br>
        <button>Submit</button>
     </form><br><br>
     <div>
        <p> Already have an account? <a href="/login">Login</a></p>
    </div>
</body>
</html>